<div class="main-container">
  <div class="cards-container">
      <% @puppies.each do |puppy| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url('<%= cl_image_path puppy.photo.path, width: 200, height: 300, crop: :fill %>')">
            <%= link_to puppy.name, puppy_path(puppy) %>
          </div>
        </div>
      <% end %>
  </div>

    <div id="map"></div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
