.btn-pink {
  background-color: #ec9f94;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 7px 26px;
  :hover {
    background-color: #DC938B;
  }
}
