.btn-pink {
  background-color: #e78c80;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 7px 26px;
  transition: background 0.3s ease;
}
