// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "map";
@import "card";
@import "picture";
@import "buttons";
@import "search-field";

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  background: white;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
  display: none;
}

.padded {
  padding: 30px 0;
}

.main-container {
  display:flex;
}
